/*------------------------ Styling For App----------------------------*/
.main-content {
  height: 100vh; 
  overflow-y: auto; 
  background-color: #f5f5f5; 
}

.custom-card {
  border-radius: 5px; 
  background-color: #ffffff; 
  margin: 5px; 
  height: 100%;
}

.create-button {
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
  color: #fff !important;
  font-weight: 500;
  padding: 0.5rem 1rem;
}