/*------------------------ Styling For Send Massage Page----------------------------*/
h2 {
    font-weight: bold;
}

.form-control {
    border-radius: 0.375rem;
}

.btn-dark {
    background-color: #343a40; 
    border: none;
    &:hover {
        background-color: #23272b;
    }
}
